*{
    margin: 0px;
    padding: 0%;
        bottom: 42px;

}
.one{
    width: 600px;
    height: 650px;
    background-color: aliceblue;
    align-content: center;
    margin-left: 489px;
    margin-top: 102px;
    border-radius: 31px;


}
h1{
    align-items: center;
    font-size: 41px;
    margin-left: 29px;
    display: flex;
}
.none img{
    width: 53px;
    margin-left: 12px;
    margin-top: 10px;
}
.two{
    width: 490px;
    margin-left: 31px;
    display: flex;
    align-items: center;
    


}
input{
    width: 383px;
    height: 41px;
    margin-top: 45px;
    border-radius: 17px;
    border: inset;



}
ul li{
    display: block;
}
.two button{
    height: 34px;
    width: 110px;
    color: blacl;
    margin-left: 29px;
    cursor: pointer;
    color: white;
    background: orangered;
    border-radius: 40px;
    margin-top: 40px;
}
ul li{
    margin-left: 13px;
    margin-top: 33px;
    font-size: 23px;
    user-select: none;
    position: relative;
    cursor: pointer;
    font-style: inherit;


    

}
ul li::before{

    
    position: absolute;
    border-radius: 40px;
    height: 28px;
    width: 24px;
    background-size: cover;
    background-position: center;
    top: 300px;
    left: 560px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(unchecked.png)
}
ul li span{
    position: absolute;
    right: 0;
    top: 31px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color:red;
    line-height: 40px;
    text-align: center;

}
ul li span:hover{
    background: #edeef0;
}
ul li button{


    width: 31px;
    height: 22px;
    font-size: 14px;
    border-radius: 0px;
    margin-top: -7px;
    display: flex;
    text-align: center;
}



button{
    margin-left: 20px;
    color: white;
    background: red;
    border-radius: 11px;
    height: 24px;
    width: 36px;
}
ul#list-container{
    margin-left: 35px;

}
ul#img{
    width: 10px;
    background: orange;
}
img{
 width: 17px;
    margin-left: 3px;
    margin-top: -16px;
    display: flex;

}
.edit-button{
    width: 22px;
    margin-left: 428px;
    margin-top: -24px;
    display: flex;

}
#input-box:hover {
    background-color: lightyellow;
  }

  .list-item:hover {
    background-color: lightblue;
  }

  button.edit-button{
    width: 37px;
    height: 21px;
    font-size: 14px;
    border-radius: 27px;
    margin-top: -28px;
    display: flex;
    text-align: center;
    margin-left: 475px;
    margin-top: -41px;

  }
list-item input[type="checkbox"] {
    display: none; 
  }
  
  .list-item input[type="checkbox"] + span {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
    user-select: none;
    display: inline-block;
    top: -11px;
    
  }
  
 /* .list-item input[type="checkbox"] + span:before {
    content: '\2714'; 
    position: absolute;
    left: 0;
    top: 13px;
    width: 20px; 
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
  }*/
  
  .list-item input[type="checkbox"]:checked + span:before {
    background-color: #4CAF50;
    color: #fff;
    border-color: #4CAF50;
    top: 13px;
    font-size: 14px;}


   .list-item input[type="checkbox"]{
    color: red;
    width: 20px;
    
    margin-top: 27px;
   }
   hr.line{
    top: 10px;

   }
   